<div class = "row col-md-12">
    <div class="col-md-8">
      <h1>New Movie</h1>
      <%= render 'form' %>
    </div>

    <div class = "col-md-4">
      <h2>Previous Addition</h2>
       <% @all.order('id DESC').each do |f| %>
        <ul>
          <li>
            <%= f.title %>
          </li>
        </ul>
      <% end %>
    </div>
