
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script>
$(document).ready(function(){
  var  $v01  = $('.vertical0')
  		,$v02  = $('.vertical1')
  		,$v03  = $('.vertical2')
  		,$v04  = $('.vertical3')
  		,$v05  = $('.vertical4')
      ,$v06  = $('.vertical5')
      ,$v07  = $('.vertical6')
      ,$v08  = $('.vertical7')
      ,$v09  = $('.vertical8')
      ,$v10  = $('.vertical9')
  		,$login= $('.modal')
  		,speed = 60
  		,tl = new TimelineLite({onComplete:restart});

  		tl.fromTo($v01,speed*0.70,{y:-250} ,{y:-750} ,'sync')
  			.fromTo($v02,speed*0.75,{y:-950} ,{y:-1250},'sync')
  			.fromTo($v03,speed*0.95,{y:-1000},{y:-1850},'sync')
  			.fromTo($v04,speed*0.75,{y:-1250},{y:-1750},'sync')
  			.fromTo($v05,speed*0.85,{y:-1100},{y:-2000},'sync')
      	.fromTo($v06,speed*0.65,{y:-900},{y:-1950},'sync')
      	.fromTo($v07,speed*0.70,{y:-1300},{y:-2100},'sync')
      	.fromTo($v08,speed*0.95,{y:-850},{y:-1460},'sync')
        .fromTo($v09,speed*0.55,{y:-1000},{y:-1750},'sync')
        .fromTo($v10,speed*0.80,{y:-1200},{y:-1600},'sync')
  			.fromTo($login,1,{scale:0,autoAlpha:0},{scale:1,autoAlpha:1, ease:Elastic.easeInOut},'sync');

  		tl.play();

      function restart(){
        tl.stop();
        tl.restart();
      }
});

</script>

<div id="copy"><a href="#" target="_blank"><b>@MovieStore</b></a></div>
<div class="mask">
  <div class="modal display">
    <div class="circle" style="background: url(&quot;https://s3-us-west-2.amazonaws.com/s.cdpn.io/9589/profile/profile-512_1.jpg&quot;);"></div>
    <div class="login">
      <h1>Login</h1>
      <form method="post">
        <input type="text" name="u" placeholder="Username" required="required"/>
        <input type="password" name="p" placeholder="Password" required="required"/>
        <button class="btn btn-primary btn-block btn-large" type="submit">Let me in.</button>
      </form>
    </div>
  </div>
</div>




<% v = 0%>
<% while v<10 %>
  <div class= "vertical vertical<%= v %>">
      <% i = 0%>
      <% while i<3 %>
        <% Movie.all.each_with_index do |movie, index| %>
          <div class="horizontal horizontal0<%= index %>" style="background: url(<%= movie.image_url %>);"></div>
        <% end %>
        <% i += 1%>
      <% end %>
  </div>
  <% v+= 1 %>
<% end %>
