@import "bootstrap-sprockets";
@import "bootstrap";
@import "movie";
@import "font-awesome";
@import "display";
@import "footer";
@import "deviselayout";
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";
@import "indexscript";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light|Indie-Flower');
