@import url('https://fonts.googleapis.com/css?family=Bellefair');

.deviseouter{
  margin-top: 50px;
  background-color: black;
  margin-bottom: 50px;
}
.header{
  background-color: Black;
}
.yield{
  // margin: 20px 50px 20px 50px;
  padding: 20px 50px 20px 50px;
  min-height: 520px;
  // background-color: #C8C7C7;
}

.devisebtn{
  font-family: '';
  margin-left: 20px;

}
.field{
  margin-left: 20px;
  font-size: 22px;
  font-family: 'Indie Flower';
  color: white;
}
.devisefield{
  height: 30px;
  width: 400px;
  color: black;
  margin-bottom: 20px;
  // margin-left: 20px;
}
.erroedevise{
  list-style: none;
  li{
    color: white;
    // list-style: none;
    font-family: 'Indie Flower';
    font-size: 20px;
    margin-left: 10px;
  }
}
.uldevise{
  list-style: none;
  margin-left: 20px;
  margin-top: 15px;
  .lidevise{
    color: #337ab7;
    font-family: 'Bellefair';
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    font-size: 19px;
    padding: 0;
  }
}
