.deviseouter{
  margin-top: 50px;
}
.header{
  background-color: Black;
}
.yield{
  margin: 20px 50px 20px 50px;
  padding: 20px 50px 20px 50px;
}

ul{
  list-style: none;
  li{
    color: #337ab7;
    font-family: 'Josefin Sans';
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    padding: 0;
  }
}
