@import url('https://fonts.googleapis.com/css?family=Bellefair');

.deviseouter{
  margin-top: 50px;
}
.header{
  background-color: Black;
}
.yield{
  margin: 20px 50px 20px 50px;
  padding: 20px 50px 20px 50px;
}

.uldevise{
  list-style: none;
  .lidevise{
    color: #337ab7;
    font-family: 'Bellefair';
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    font-size: 17px;
    padding: 0;
  }
}
