@import "font-awesome";

body{
  margin: 0;padding: 0;background: #000;
  color:#fff;height: 100%;max-height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;




  #copy{
      position:absolute;
      bottom:0;
      height: 40px;
      width: 100%;
      text-align:center;
      text-transform:uppercase;
      line-height: 14px;
      font-size:10px;
      font-weight:400;
      z-index:10;

      a{
        color:#fff;
        text-decoration:none;
        transition:all 0.3s ease-in-out 0s;

        b{
          font-weight: 700;
        }
        &:hover{
          color:#fff
        }
      }
    }
  .heading{
    margin-top: 5px;
    padding-bottom: 5px;
  }

  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    box-shadow: 0 0 500px #000 inset,0 0 300px #000 inset,0 0 200px #000 inset;

    .modal{
      display: block !important;
      opacity:0;
      width: 350px;
      height: 355px;
      background:rgba(00,00,00,0.75);
      //background-image: -webkit-radial-gradient(cover, #DFDFDF, #B5B5B5);
      border-radius: 5px;
      box-shadow:/*0 0 100px #000000, 0 0 50px #000000,*/ 0 0 10px #000000, 0 0 0 1px rgba(47, 47, 47, 0.5) inset;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% ,-50%);

      .circle{
        background: #0d0d0d;
        width: 120px;
        height: 120px;
        border-radius:50%;
        position:relative;
        left:50%;
        overflow:hidden;
        transform: translate(-50% ,-50%);
        box-shadow: 0 0 8px #0a0a0a,0 0 0 1px #0a0a0a;

        background-repeat: no-repeat;
        background-position:center center;
        background-size:cover!important;
      }

      .login{
        h1{
            margin: 0;
            padding: 0;
            margin-top: -40px;
            margin-bottom: 20px;
            text-align: center;
            font-family: arial;
            color: #fff;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            letter-spacing: 1px;
            text-align: center;
        }

        input {
          width: 300px;
          height: 10px;
          text-align: center;
          margin-left: 15px;
          margin-top: 15px;
          background: rgba(0, 0, 0, 0.3);
          border: none;
          outline: none;
          padding: 10px;
          font-size: 17px;
          color: #fff;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
          -webkit-transition: box-shadow 0.5s ease;
          -moz-transition: box-shadow 0.5s ease;
          -o-transition: box-shadow 0.5s ease;
          -ms-transition: box-shadow 0.5s ease;
          transition: box-shadow 0.5s ease;
        }
        input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

        .signinbutton{
          width: 900px;
          height: 40px;
          background: transparent;
          text-align: center;
          border: solid 2px #fff;
          margin:20px 15px 0px 38px;
          width: 275px;
          color:#fff;
          line-height: 20px;
          border-radius:20px 20px 20px 20px;

        }

        .googlebutton{
          color: #e53935;
          font-size: 40px;
          margin-left: 135px;
        }
        .facebookbutton{
          color: #82b1ff;
          font-size: 40px;
          margin-left: 10px;
        }
        .loginBtn {
            position: relative;
            /* width: 13em;  - apply for fixed size */
            margin: 0.2em;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 0.2em;
            font-size: 16px;
            color: #FFF;
            height: 80px;
          }
          .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
          }
          .loginBtn:focus {
            outline: none;
          }
          .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
          }
          .loginBtn--google {
            /*font-family: "Roboto", Roboto, arial, sans-serif;*/
            background: #DD4B39;
          }
          .loginBtn--google:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
          }
          .loginBtn--google:hover,
          .loginBtn--google:focus {
            background: #E74B37;
          }
      }
    }
  }

  .vertical{
    float:left;
    width: 10%;
    overflow: hidden;

    .horizontal{
      width: 100%;
      height: 200px;
      position:relative;
      box-shadow: -1px 1px 0 1px rgba(00,00,00,1) inset,
        0 0 50px rgba(00,00,00,0.5) inset;
      overflow: hidden;
      text-align:center;
      background-repeat: no-repeat;
      background-position:center center;
      background-size:cover!important;
    }
  }
}
