// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.up-margin{
   margin-top: 60px;
 }
.rating-show-image{
  widht: 50px;
  height: 50px;
  margin-top: 10px;
}
.rating-show{
  margin-left: 10px;
}
