// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.up-margin{
   margin-top: 60px;
 }
.rating-show-image{
  margin-left: 5px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.rating-show{
  margin-left: 10px;
}
.slider-image{
  height: 450px;
}
.stng{
}

.image1{
  margin-left: 269px;
  width: 50%;
  height: 450px !important;
}

.image{
  width: 280px;
  height: 350px;
}
