// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.up-margin{
   margin-top: 60px;
 }
.rating-show-image{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.commentarea{
    margin: 0px;
    width: 420px;
    height: 114px;
}

.commentsubmit{
    float: right;
}


.commentimage1{
  width: 100px;
  height: 100px;
  margin-top: -104px;
}
.commentimage{
  width: 50px;
  height: 50px;
}

.commentsection{
  background-color: #ACA19E;
}

.c{
  list-style-type: upper-roman;
}

.rating-show{
  margin-left: 10px;
}
.slider-image{
  height: 450px;
}
.stng{
}

.scroll{
    width: 550px;
    height: 350px;
    overflow: scroll;
}
.searchbutton{
  display: none;
}
#search
{
  display: none
}
.searcharea{
  padding: 8px;
}
.image1{
  width: 100%;
  height: 700px !important;
}

.image{
  width: 280px;
  height: 350px;
}
.image:hover{
  animation: shake 1s;
  animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
