@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
.navbar-nav .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar{
  min-height:20px !important;

}
.navbar-default{
  border: none;
  background: black;
  opacity: .8;
  margin: 0px 0 15px 0;
}
.menu {
  // background-color: black;
  // opacity: .8;
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // max-width: 720px;
  margin-top: 10px;
  margin-bottom: 10px;
  // height: 100vh;
  list-style: none;
}


.menu li {
  // height: 5  0px;
  // transition: background-position-x 0.9s linear;
  text-align: center;


  a {
    // font-size: 22px;
    color: #777;
    text-decoration: none;
    // transition: all 0.45s;
  }
  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

  &:hover a {
    color: #871212;
  }

  &:not(:last-child) {
    //   margin-right: 30px;
  }
}

.movie-store{
  font-size: 40px;
  color: inherit;
  font-family: Indie Flower;
  // background-color: black;
  // opacity: 0.8;
  // height: 60px;
  margin-right: 5px;
}
.searchbutton{
  display: none;
}
#search{
  display: none
}
.searcharea{
  padding: 5px;
  font-size: 20px;
  // color: white;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
}

.search-area{
    // opacity: .8;
    // background-color: black;
    margin-right: 5px;
    margin-top: 8px;
    height: 60px;
}

.dropdown{
  font-size: 25px;
  font-color: inherit;
  font-family: Indie Flower;
  // background-color: black;
  // height: 60px;
  margin-right: 5px;
  li{

      font-size: 15px;
      background-color: none;
  }
}
.centerli{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
}
@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
