@import "showheader";
@import url('https://fonts.googleapis.com/css?family=Signika');
.showcontainer{
  margin-top: 50px;
}

body{
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .content{
        margin-top: 40px;  
        background: rgba(0,0,0,.85);
      }

      .details{
        margin-left: 0px;
      }

      .showmovieimg{
        height: 500px;
        width: 360px;
        // margin-left: 10px;
      }

      h1{
        font-size: 50px;
        color: white;
      }
      h3{
        color: white;
        font-size: 20px;

        font-family: 'Gloria Hallelujah';
      }
      span{
          font-size: 17px;
          font-family: 'Signika';
        }

      h2{
        color: white;
      }
      p, .listdata{
        font-family: 'Signika';
        font-size: 15px;
        color: white;
      }
      .rating-show-image{
        width: 30px;
        height: 30px;
      }

      .commentsection{
        margin-left: 10px;
        margin-right: 10px;
      }

        .comments{
          margin-left: 2px;
          margin-right: 2px;
          height: 100%;
          width: 100%;
          // background-color: #ACA19E;
          opacity: 15;
        }
        .commentpart{
          margin: 5px 0px 0px 0px;
        }
        .username{
          margin-left: 8px;
          color: white;
        }
        .usernamemodal{
          color: Black;
          margin-left: 8px;
        }
        .commentimage{
          width: 75px;
          height: 65px;
        }
        .commentbody{
          color: Green;
          margin-top: 14px;
        }

      .newcommentimage{
        width: 120px;
        height: 120px;
        margin-top: -110px;
        margin-left: 5px;
      }

      .commentarea{
          width: 405px;
          height: 120px;
          margin-right: 5px;
      }

      .commentsubmit{
          font-size: 15px;
          float: right;
          width: 140px;
          height: 30px;
          margin-bottom: 15px;
          margin-right: 5px;
          font-family: 'Gloria Hallelujah';
      }
      .subm{
        color: #BD9C9C;
      }
      .morereviewbtn{
        font-family: 'Gloria Hallelujah';
      }
      h4{
        color: white;
        margin-left: 6px;
        font-family: 'Gloria Hallelujah';
      }
      .modal-title{
        color: Black;
      }
      .modalcomment{
        color: inherit;
        margin-top: 10px;
      }
      .sub-modal{
        color: inherit;
      }
      .movielist {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      .movielist td, .movielist th{
        border: 2px;
        padding: 8px;
        font-size: 16px;
        color: white;
        border-bottom: solid 1px grey;
      }
      .movielist tr{

      }
      .movielist tr:hover{
        background-color: #ddd;
      }
      .movielist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #828282;
        opacity: 0.8;
        color: white;
      }
      .scroll{
        width: 550px;
        height: 340px;
        overflow-y: scroll;
      }
      .showfooter{
        text-align: center;
      }
    }
